.create-recipe-container {
    max-width: 600px;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-chip-list {
    max-width: 600px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  mat-chip {
    margin: 5px;
  }
  
  .wide-form-field {
    width: 100%;
  }
  