mat-toolbar {
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .toolbar-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  mat-icon {
    margin-left: 8px;
  }
  
  button[mat-button] {
    margin: 0 10px;
    padding: 0 15px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  mat-menu-item {
    display: flex;
    align-items: center;
  }
  
  mat-menu-item mat-icon {
    margin-right: 10px;
  }
  

  mat-form-field {
    display: flex;
    align-items: center;
  }