<div class="quick-form">
  <form [formGroup]="rForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input class="form-control" formControlName="title" placeholder="Title">
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="description" placeholder="Description">
    </div>
    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredients.controls; index as i" [formGroupName]="i" class="ingredient-group">
        <select formControlName="itemId" (change)="checkIfNewItem(i)">
          <option *ngFor="let item of existingIngredients" [value]="item.id">{{ item.item?.name }}</option>
          <option value="new">+ Add new ingredient</option>
        </select>
        <div *ngIf="ingredient.get('newItem')?.value">
          <input formControlName="newItemName" placeholder="New Ingredient Name">
        </div>
        <input type="number" formControlName="amount">
        <select formControlName="measurementTypeId">
          <option *ngFor="let type of measurementTypes" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      <button type="button" (click)="addIngredient()">+ Add Ingredient</button>
    </div>
    <div formArrayName="instructions">
      <div *ngFor="let instruction of instructions.controls; index as i" [formGroupName]="i" class="instruction-group">
        <select formControlName="content" (change)="checkIfNewInstruction(i)">
          <option *ngFor="let instruction of existingInstructions" [value]="instruction.content">{{ instruction.content }}</option>
          <option value="new">+ Add new instruction</option>
        </select>
        <div *ngIf="instruction.get('newContent')?.value">
          <input formControlName="newContentDetail" placeholder="New Instruction Detail">
        </div>
      </div>
      <button type="button" (click)="addInstruction()">+ Add Instruction</button>
    </div>
    <div class="form-group">
      <select formControlName="chefId">
        <option *ngFor="let chef of existingChefs" [value]="chef.id">{{ chef.name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
