<!-- <div class="quick-form">
  <form [formGroup]="rForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" class="form-control" formControlName="title" placeholder="Enter title" required>
      <div *ngIf="rForm.get('title')?.errors?.['required'] && rForm.get('title')?.touched">
        Title is required.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" formControlName="description" placeholder="Enter description"></textarea>
    </div>
    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredients.controls; index as i" [formGroupName]="i" class="ingredient-group">
        <select formControlName="itemId" (change)="checkIfNewItem(i)">
          <option *ngFor="let item of existingIngredients" [value]="item.id">{{ item.item?.name }}</option>
          <option value="new">+ Add new ingredient</option>
        </select>
        <div *ngIf="ingredient.get('newItem')?.value">
          <input formControlName="newItemName" placeholder="New Ingredient Name">
        </div>
        <input type="number" formControlName="amount">
        <select formControlName="measurementTypeId">
          <option *ngFor="let type of measurementTypes" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      <button type="button" (click)="addIngredient()">+ Add Ingredient</button>
    </div>
    <div formArrayName="instructions">
      <div *ngFor="let instruction of instructions.controls; index as i" [formGroupName]="i" class="instruction-group">
        <select formControlName="content" (change)="checkIfNewInstruction(i)">
          <option *ngFor="let instruction of existingInstructions" [value]="instruction.content">{{ instruction.content }}</option>
          <option value="new">+ Add new instruction</option>
        </select>
        <div *ngIf="instruction.get('newContent')?.value">
          <input formControlName="newContentDetail" placeholder="New Instruction Detail">
        </div>
      </div>
      <button type="button" (click)="addInstruction()">+ Add Instruction</button>
    </div>
    <div class="form-group">
      <label for="chef">Chef</label>
      <select id="chef" class="form-control" formControlName="chefId">
        <option value="">Select a Chef</option>
        <option *ngFor="let chef of existingChefs" [value]="chef.id">{{ chef.name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<form>
  <div class="form-group">
    <input class="form-control" name="title" formControlName="title" tpye="text" />
  </div>
  <div class="form-group">
    <input class="form-control" name="description" formControlName="description" type="text"/>
  </div>
  <div class="ingredients">
    <!-- Select Ingredient -->
    <ng-container *ngIf="!creatingNewIng; createNewIng">
      <select>

      </select>
    </ng-container>
    <!-- Create Ingredient -->
    <ng-template #createNewIng>
      <!-- Select Item -->
      <ng-container *ngIf="!creatingNewItem; else createNewItem">
        <select (change)="selectItem($event)">
          <option>~ Select an Item ~</option>
          <option *ngFor="let i of existingItems" [value]="i.id">{{i.name}}</option>
        </select>
      </ng-container>
      <!-- Create Item -->
      <ng-template #createNewItem>

      </ng-template>
      <div class="form-group">
        <select (change)="selectMT($event)">
          <option *ngFor="let mt of measurementTypes" [value]="mt.id">{{mt.name}}</option>
        </select>
      </div>
    </ng-template>
  </div>
  <div class="instructions">
    <!-- Select Instruction -->
    <ng-container *ngIf="!creatingNewIns; else createNewIns">
      <select>

      </select>
    </ng-container>
    <!-- Create Instruction -->
    <ng-template #createNewIns>
      <div class="form-group">
        <input [(ngModel)]="newInstruction.content" name="content" type="text" />
        <button class="btn" type="button" (click)="createInstruction()">Save</button>
      </div>
    </ng-template>
  </div>
  <div class="form-group">
    <input class="form-control" name="chefName" formControlName="chefName" type="text" />
  </div>
</form>
